{% extends "airpollution/layout/corejs_script_layout.html" %}
{% load static %}

{% block jscript %}
    <script type="text/javascript">
        const newCardTemplate = Handlebars.compile(document.querySelector('#chart-template').innerHTML);
        document.addEventListener('DOMContentLoaded', () => {

            var selectForm = document.querySelector('#persona-selector');
            var groupId = selectForm.options[selectForm.selectedIndex].value;
            renderPersona(groupId, false);
        });


        function renderPersona(groupId, isDeletePropagate) {
            var row_content_div = document.querySelector('#content-row');
            row_content_div.innerHTML = "";
            fetch('view_group/' + groupId)
                .then(function (response) {
                    return response.json();
                })
                .then(function (items) {
                    items = JSON.parse(items);
                    if (items.length === 0) {
                        return;
                    }
                    items.forEach(function (obj, i) {
                        var url = obj['fields']['url'];
                        var label = obj['fields']['label'];
                        console.log(url);
                        console.log(label);
                        var internalChartId = obj['fields']['chart_id'];
                        var chartDivId = 'chart-div-' + i;
                        var chartDivIdWithHash = '#' + chartDivId;
                        var cardDivId = 'card-div' + i;

                        var tempCard = newCardTemplate({
                            'chart-div-id': chartDivId, 'title': 'Temp Title',
                            'card-div-id': cardDivId, 'chart-id': internalChartId, 'persona-id': groupId,
                            'chart-label': label
                        });
                        row_content_div.innerHTML += tempCard;

                        fetch(url)
                            .then(function (response) {
                                return response.json();
                            })
                            .then(function (item) {
                                var chart_div = document.querySelector(chartDivIdWithHash);
                                chart_div.innerHTML = "";
                                Bokeh.embed.embed_item(item, chartDivId);
                                chart_div.setAttribute('data-url', url);
                            }).catch((error) => {
                            var chart_div = document.querySelector(chartDivIdWithHash);
                            chart_div.innerHTML = "<img style=\"height:200px;width:400px\" src={% static 'airpollution/assets/img/tech-snag.png' %}>";
                            chart_div.setAttribute('data-url', url);
                        });
                    });
                });
            if (isDeletePropagate) {
                Notify("Chart deleted from persona.", null, null, 'success');
            }
        }

        function renderPersonaFromForm(selectForm) {
            console.log(selectForm);
            var groupId = selectForm.options[selectForm.selectedIndex].value;
            renderPersona(groupId, false);
        }

        function deleteChartFromPersona(button) {
            console.log(button);
            var chartid = button.dataset['chartid'];
            var groupid = button.dataset['personaid'];

            fetch('delete_chart_from_persona/' + groupid + '/' + chartid)
                .then(function (response) {
                    return response.json();
                })
                .then(function () {
                    renderPersona(groupid, true);
                });
        }

    </script>
{% endblock %}
{% block persona-dashboard-navitem-active %}
    active
{% endblock %}
{% block dashboardname %}Persona Dashboard{% endblock %}
{% block contentbody %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div id="notifications"></div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4 class="card-title mt-0 font-weight-bold lead">User Persona Dashboard</h4>
                </div>
                <div class="col-md-8">
                    <select id="persona-selector" class=" form-group btn btn-primary dropdown-toggle"
                            data-toggle="dropdown" aria-expanded="false" name="persona"
                            onchange="return renderPersonaFromForm(this);">
                        {% for group in groups %}
                            <option class="dropdown-item"
                                    value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div id="content-row" class="row">
            </div>

        </div>
    </div>
{% endblock %}
