{% extends "airpollution/layout/corejs_script_layout.html" %}
{% load static %}

{% block jscript %}
    {% csrf_token %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            $('#multiselect-pollutants').multiselect();
            $('#multiselect-regions').multiselect();

            $(function () {
                $('input[name="daterange"]').daterangepicker({
                    opens: 'left'
                }, function (start, end, label) {
                    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                });
            });

            update('at,es');

            {#Example #}
            {#update(filter1, filter2, filter3);#}
        });

        function update(country) {
            var chart_div = document.querySelector('#reg-rep-ch-1');
            chart_div.innerHTML = "<img style=\"height:300px;width:400px\" src={% static 'airpollution/assets/img/gif/pre-loader-2.gif' %}>";
            fetch('/pollution_deltas_table?start_date=2019-11-13&end_date=2019-12-13')
            {#pollutant=PM25&start_date=2020-01-01&end_date=2020-03-22#}
                .then(function (response) {
                    return response.json();
                })
                .then(function (item) {
                    var chart_div = document.querySelector('#reg-rep-ch-1');
                    chart_div.innerHTML = "";
                    Bokeh.embed.embed_item(item, 'reg-rep-ch-1');
                    chart_div.setAttribute('data-url', '/pollution_deltas_table?pollutant=PM25&start_date=2020-01-01&end_date=2020-03-22');
                }).catch((error) => {
                var chart_div = document.querySelector('#reg-rep-ch-1');
                chart_div.innerHTML = "";
                chart_div.innerHTML = "<img style=\"height:200px;width:400px\" src={% static 'airpollution/assets/img/tech-snag.png' %}>";

            });
        }

        function addChartToPersona(button) {
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            var chartid = button.dataset['chartid'];
            var formid = button.dataset['formid'];
            var form = document.querySelector('#' + formid);
            var selectedOption = form.getElementsByTagName('select').persona;
            let groupId = selectedOption.options[selectedOption.selectedIndex].value;
            console.log(groupId);
            console.log(chartid);
            let url = document.querySelector('#' + chartid).dataset.url;
            console.log(url);
            const request = new XMLHttpRequest();
            {#request.open('GET', '/add_chart_to_persona/' + groupId + '/' + chartid + '/regional');#}
            request.open('POST', '/add_chart_to_persona/');
            request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            {#request.setRequestHeader('Vary', 'X-Requested-With');#}
            {#request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');#}
            request.setRequestHeader('Content-type', 'application/json');
            request.setRequestHeader("X-CSRFToken", csrftoken);
            var params = {};
            params.chart_id = chartid;
            params.group_id = groupId;
            params.url = encodeURI(url);
            request.onload = () => {
                {#var data = JSON.parse(request.responseText);#}
                console.log(request.responseText);
            };
            request.send(JSON.stringify(params));
        }

        document.addEventListener('DOMContentLoaded', () => {

        });
    </script>
{% endblock %}
{% block trends-dashboard-navitem-active %}
    active
{% endblock %}
{% block dashboardname %}Trends Dashboard{% endblock %}
{% block contentbody %}
    <div class="content" style="margin-top: 30px;">
        <div class="container-fluid">
            <div class="row"></div>
            <div class="row">
                <div class="col-md-2">
                    <h4 class="card-title mt-0">Air Quality Trends</h4>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <!--<div class="col-sm-12">-->
                        <div class="col">
                            <h5 class="card-title mt-0">Filters</h5>
                        </div>
                        <div class="col">
                            <h6>Regions</h6>
                            <select id="multiselect-regions" multiple="multiple">
                                <option value="AT">Austria</option>
                                <option value="BE">Belgium</option>
                                <option value="BG">Bulgaria</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DE">Germany</option>
                                <option value="DK">Denmark</option>
                                <option value="EE">Estonia</option>
                                <option value="ES">Spain</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="GR">Greece</option>
                                <option value="HR">Croatia</option>
                                <option value="HU">Hungary</option>
                                <option value="IE">Ireland</option>
                                <option value="IT">Italy</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="LV">Latvia</option>
                                <option value="MT">Malta</option>
                                <option value="NL">Netherlands</option>
                                <option value="PO">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="RO">Romania</option>
                                <option value="SE">Sweden</option>
                                <option value="NO">Norway</option>
                                <option value="IS">Iceland</option>
                                <option value="SI">Slovenia</option>
                                <option value="SK">Slovakia</option>
                                <option value="GI">Gibraltar</option>
                                <option value="UK">United Kingdom</option>
                            </select>
                        </div>

                        <div class="col">
                            <h6>Pollutants</h6>
                            <select id="multiselect-pollutants" multiple="multiple">
                                <option value="PM25">PM2.5</option>
                                <option value="PM10">PM10</option>
                                <option value="Ozone">Ozone</option>
                                <option value="CO2">CO2</option>
                                <option value="CO">CO</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>


                        <div class="col=md-4">
                            <h6>Date Range</h6>
                            <input class="form-control" type="text" name="daterange"/>
                        </div>
                        <div class="cold-md-1">
                            <input id="submit-filter-button" class="btn btn-primary"
                                   type="submit" value="Submit" onclick="update('nl');"/>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="reg-rep-ch-1">
                    </div>
                    {% if user.is_superuser %}
                        <div id="reg-rep-ch-1-form">
                            <select class=" form-group btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown" aria-expanded="false" name="persona">
                                {% for group in groups %}
                                    <option class="dropdown-item"
                                            value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                            </select>
                            <input id="add-chart-to-persona-button" class="btn btn-primary"
                                   data-chartid="reg-rep-ch-1" data-formid="reg-rep-ch-1-form"
                                   type="submit" value="Add" onclick="addChartToPersona(this)"/>
                        </div>
                    {% endif %}
                </div>
            </div>

            

        </div>
    </div>
{% endblock %}
